<h1>🏀 Sport Shop</h1>

<h2>เพิ่มสินค้า</h2>
<form method="POST" action="/add">
    <input type="text" name="name" placeholder="ชื่อสินค้า"><br>
    <input type="text" name="category" placeholder="หมวดหมู่"><br>
    <input type="number" name="price" placeholder="ราคา"><br>
    <input type="number" name="stock" placeholder="จำนวน"><br>
    <button type="submit">เพิ่ม</button>
</form>

<hr>

{% for p in products %}
<div>
    <h3>{{ p[1] }}</h3>
    <p>Category: {{ p[2] }}</p>
    <p>Price: {{ p[3] }} บาท</p>
    <p>Stock: {{ p[4] }}</p>
</div>
<hr>
{% endfor %}
